body {
    display: grid;
    margin: 10px;
    background-color: #1A1D22;
}

button {
    background-color: #8859FF;
    color: black;
}

img {
    border-radius: 10px;
    border: 3px solid #353D49;
}